@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Montserrat|Nanum+Myeongjo|Nanum+Pen+Script|Source+Sans+Pro|Varela+Round');

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: rgba(0,0,0,.01) 0 0 0.45px;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Varela Round', sans-serif;
  font-family: 'East Sea Dokdo', cursive;

  background-color: #353535;
}

h1{
  font-size: 52pt;
  font-family: 'Montserrat';
  text-align: center;
  color: #FFFFFF;
}

#Hello{
  font-style: oblique;
}
