@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #353535;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 10px;
    
    overflow: hidden;
}

ul li{
    display: inline;
    padding-left: 20px;
}

#title{
    font-size: 3.5rem;
    font-weight: 600;

    float: right;
    clear: both;

    margin: 2% 3.5% 0 0;

    -webkit-transition:font-size 0.3s, -webkit-transform 0.3s;
    transition:font-size 0.3s, transform 0.3s;
}

.contactSection{
    float: right;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 2.5% 3.5% 0 0;

    -webkit-transition:font-size 0.3s, -webkit-transform 0.3s;
    transition:font-size 0.3s, transform 0.3s;
}

.projectSection{
    position:absolute;
    bottom: 3.5%;
    margin: 0 0 0 3.5%;
}

.projectSection span{
    font-size: 2.5rem;


    -webkit-transition:font-size 0.3s, -webkit-transform 0.3s;
    transition:font-size 0.3s, transform 0.3s;
}

button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    
}

/* iPhone SE */
@media (min-width: 700px) {
    #title {
        font-size: 5rem;
    }
    .contactSection {
        font-size: 1.3rem;
    }

    .projectSection span{
        font-size: 3rem;
    }
}

/*
@media (min-width: 800px) {
    #title {
        font-size: 5rem;
    }
    .contactSection {
        font-size: 1.3rem;
    }
    .projects #MyProjects{
        font-size: 3rem;
    }
}
*/

/* iPhone X */
/*
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (orientation : portrait) {
    #title {
        font-size: 8rem;
    }
    .contactSection {
        font-size: 2rem;
    }
    .projects #MyProjects{
        font-size: 3.5rem;
    }
}
*/