body{
    background: url("../img/subway-body-background.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #FF1944;
}

h1{

    text-shadow: 0px 0px 10px #000000
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 0px;
    margin-right: 0px;
  }