body{
    background: url("../img/subway-body-background.JPG") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #FF1944;
}